* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.clear {
    clear: both;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

section.header-master {
    width: 100%;
    padding: 30px 0;
    min-height: 700px;
    background-image: url('../images/bg_01.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section.header-master header {
    width: 100%;
    border-bottom: 2px solid rgba(71, 83, 88, .2);
}

div.logo {
    float: left;
    width: 15%;
    height: 64px;
    font-size: 28px;
    font-weight: bold;
    color: white;
}

header div.desktop {
    width: 85%;
    float: left;
    text-align: end;
    display: flex;
    justify-content: end;
}

header div.mobile {
    display: none;
    float: right;
}

header div.mobile h3 {
    margin-top: 4px;
    font-size: 26px;
    cursor: pointer;
    color: white;
}

header div.mobile nav {
    position: absolute;
    top: 96px;
    left: 0;
    width: 100%;

}

header div.mobile ul{
    width: 100%;
    list-style-type: none;
    padding: 0;
    display: none;
}

header div.mobile ul li {
    width: 100%;
    text-align: center;
    padding: 4px;
    transition:  .2s;
    background-color: #509d87;
    border-bottom: 1px solid white;
}

header div.mobile ul li:hover {
    background-color: #3f7969;
}

header div.mobile ul li a {
    width: 100%;
    color: white;
    text-decoration:  none;
}

header div.desktop nav {
    float: left;
    padding: 10px 15px;
}

header div.desktop nav ul {
    list-style-type: none;
}

header div.desktop nav ul li {
    display: inline-block;
    font-size: 16px;
    margin: 0 15px;
    color: white;
}

li.selected {
    position: relative;
    font-weight: 600;
    color: #509d87;
}

header div.desktop nav ul li a {
    text-decoration: none;
    color: inherit;
}

div.telefone-header {
    padding-top: 5px;
    float: left;

}

div.telefone-header span {
    font-size: 20px;
    padding-left: 25px;
    color: white;
}

/*Sessão content-header*/

div.content-header {
    padding: 50px 0;
}

div.content-header .one {
    float: left;
    width: 50%;
}

div.content-header .one h2 {
    font-weight: normal;
    font-size: 37px;
    color: #509d87;
}

div.content-header .one p {
    margin: 15px 0;
}

div.content-header .one form input {
    width: 251px;
    height: 60px;
    padding: 0 8px;
    border-radius: 10px;
    border: 2px solid #ccc;
}

div.content-header .one form {
    margin-bottom: 15px;
}

div.content-header .one form input:focus {
    outline: 0;
}

div.content-header .one form button {
    height: 60px;
    width: 100px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    transition: .4s;
    border-radius: 10px;
    color: white;
    background-color: #509d87;
}

div.content-header .one form button:hover {
    background-color: #3f7969;
}

div.content-header .one span {
    color: #509d87;
}

div.content-header .one span a {
    font-size: 22px;
    text-decoration: none;
    color: #509d87;
}

div.content-header .two {
    float: left;
    width: 50%;
    padding: 0 30px;
}

div.content-header .two img {
    float: left;
    width: 44%;
    margin: 12px 3%;
}


/* sessão diferenciais*/

section.diferenciais {
    padding: 40px 0;
}

section.diferenciais .container {
    display: flex;
    flex-wrap: wrap;
}

section.diferenciais .diferencial-single {
    width: 33.33%;
    margin: 30px 0;
    padding: 0 8px;
}

div.diferencial-single img {
    max-width: 100%;
}

div.diferencial-single h2 {
    font-size: 30px;
    margin: 20px 0;
    font-weight: 400;
    color: black;
}

div.diferencial-single h2 b {
    font-weight: 400;
    color: #7dd5b0;
}

div.diferencial-single p {
    font-size: 14px;
    font-weight: normal;
    color: #2d2d2d;
}

/* sessão sobre*/
section.sobre {
    padding: 40px 0;
}

section.sobre .container {
    max-width: 1400px;
}

section.sobre .sobre-container {
    width: 50%;
    float: left;
}

section.sobre .sobre-container img {
    max-width: 100%;
}

section.sobre .sobre-container h2 {
    font-size: 33px;
    margin: 10px 0;
    font-weight: normal;
    color: #d4ded9;
}

section.sobre .sobre-container h2 b {
    font-weight: normal;
    color: #03ca9f;
}

section.sobre .sobre-container .sobre-autor {
    padding: 0 30px;
}

/* Depoimento */
section.depoimento {
    width: 100%;
    text-align: center;
    padding: 300px 0;
    background-image: url(../images/bg_02.png);
    background-size: cover;
}

section.depoimento h2 {
    font-size: 29px;
    font-weight: normal;
    margin-bottom: 8px;
    color: #2d2d2d;
}

section.depoimento p {
    font-size: 15px;
}

/* sessão etapas */

section.etapas {
    padding: 40px 0;
}

section.etapas .container {
    max-width: 1400px;
}

section.etapas h2 {
    text-align: center;
    font-weight: normal;
    font-size: 30px;
    margin-bottom: 30px;
    color: #3b3e42;
}

section.etapas .etapas-single {
    float: left;
    width: 50%;
    padding: 0 20px;
}

section.etapas img {
    max-width: 100%;
}

section.etapas .etapas-group:nth-of-type(1) img {
    width: 50%;
    float: left;
}

section.etapas .etapas-group:nth-of-type(2) img {
    float: right;
}

section.etapas .etapas-group:nth-of-type(3) img {
    float: left;
}

section.etapas small {
    padding-top: 90px;
    font-size: 15px;
    padding-left: 20px;
    float: left;
    color: #509d87;
}

section.etapas .etapas-group:nth-of-type(2) small {
    padding-left: 0;
    padding-right: 20px;
    float: right;
}

section.etapas .etapas-single .circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    float: left;
    border: 2px solid #ccc;
}

section.etapas .etapas-single .circle .line {
    position: absolute;
    top: 96px;
    left: 50%;
    z-index: 99999;
    transform: translate(-50%, 0);
    height: 44px;
    width: 2px;
    background-color: #ccc;
}

section.etapas .etapas-single .circle span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

section.etapas .etapas-group2 {
    margin-bottom: 40px;
}

section.etapas .etapas-descricao {
    float: left;
    width: calc(100% - 100px);
    padding: 0 20px;
}

section.etapas .etapas-descricao h3 {
    font-size: 20px;
    font-weight: normal;
    color: #03ca9f;
}

section.etapas .etapas-descricao p {
    font-weight: normal;
    color: #2d2d2d;
}

/* sessção diferença*/
section.diferencas {
    padding: 40px 0;
}

section.diferencas .container {
    text-align: center;
}

section.diferencas .diferencas-single {
    width: 50%;
    float: left;
}

section.diferencas .diferencas-single:nth-of-type(2) {
    border-left: 2px solid #ccc;
}

section.diferencas .diferencas-single h2 {
    font-size: 30px;
    font-weight: normal;
    color: #a9c4b8;
}

section.diferencas .diferencas-item {
    margin-top: 10px;
    position: relative;
    display: inline-block;

}

section.diferencas .diferencas-item .line-diferencas {
    position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
    height: 2px;
    z-index: 9999;
    transform: rotate(-3deg);
    background-color: #e89595;
}

section.diferencas .diferencas-item span {
    font-weight: 500;
    color: #a9c4b8;
}

section.diferencas .diferencas-invisalign {
    margin-top: 10px;
}

section.diferencas .diferencas-invisalign span {
    font-weight: 500;
    color: #7dd5b0;
}

/* sessção de contato*/
section.final {
    min-height: 600px;
    position: relative;
    background-image: url(../images/bg_01.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

section.final footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 25px 0;
}
section.final footer .container {
    text-align: center;
}

section.final footer .container p{
    display: inline-block;
    margin: 0 10px;
}

section.final footer .container p a{
    color: #03ca9f;
}


section.contato {
    padding: 40px 0;
}

section.contato .container {
    text-align: center;

}

section.contato h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #509d87;
}

section.contato .form-group {
    margin-bottom: 16px;
}

section.contato .form-group input {
    width: 100%;
    max-width: 700px;
    height: 40px;
    padding: 0 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

section.contato .form-group input:focus {
    outline: none;
}

section.contato .form-group textarea {
    width: 100%;
    max-width: 700px;
    height: 100%;
    min-height: 50px;
    max-height: 150px;
    padding: 10px;
    border-radius: 10px;
    resize: vertical;
    border: 1px solid #ccc;
}

section.contato .form-group textarea:focus {
    outline: none;
}

section.contato .form-group button {
    width: 100px;
    height: 44px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    transition: .4s;
    border-radius: 10px;
    transition:  .4s;
    color: white;
    background-color: #509d87;
}

section.contato .form-group button:hover {
    background-color: #3f7969;
}

@media screen and (max-width: 1330px) {

    section.etapas .container {
        max-width: 1280px;
    }

    section.etapas .etapas-single {
        width: 100%;
        margin-bottom: 20px;
    }

    section.etapas .etapas-group {
        margin-bottom: 20px;
    }

    section.etapas .etapas-group:nth-of-type(1) img {
        max-width: 200px;
        width: 100%;
        float: none;
        display: block;
        margin: 0 auto;
    }

    section.etapas .etapas-group:nth-of-type(2) img {
        max-width: 200px;
        width: 100%;
        float: none;
        display: block;
        margin: 0 auto;
    }

    section.etapas .etapas-group:nth-of-type(3) img {
        max-width: 200px;
        width: 100%;
        float: none;
        display: block;
        margin: 0 auto;
    }

    section.etapas small {
        padding-top: 10px;
        font-size: 15px;
        padding-left: 0;
        text-align: center;
        float: none;
        display: block;
        color: #509d87;
    }

    section.etapas .etapas-group:nth-of-type(2) small {
        padding-left: 0;
        padding-right: 0;
        float: none;
    }
}

@media screen and (max-width: 860px) {
    div.logo {
        width: 60%;
    }

    div.content-header .one {
        text-align: center;
        width: 100%;
    }

    div.telefone-header {
        display: none;
    }

    div.content-header .two {
        display: none;
    }

    header div.desktop {
        display: none;
    }

    header div.mobile {
        display: block;
    }

    section.diferenciais .diferencial-single {
        width: 100%;
    }

    section.sobre .sobre-container {
        width: 100%;
        margin-bottom: 30px;
    }

    section.diferencas .diferencas-single {
        width: 100%;
        margin-bottom: 20px;
    }

    section.diferencas .diferencas-single:nth-of-type(2) {
        border-left: 0;
    }
}


@media screen and (max-width: 585px) {
    section.etapas .etapas-single .circle .line {
        height: 64px;

    }
}

@media screen and (max-width: 585px) {
    section.etapas .etapas-single .circle .line {
        display: none;
    }
}